.btn{
    border: none;
    outline: none;
    padding: 10px 30px;
    cursor: pointer;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
}